
body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
}

/* Header */

#header h1
{
	position: absolute;
	top: 1em;
	font-size: 2.2em;
	letter-spacing: -0.05em;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	font-size: 0.8em;
	top: 8em;
	color: #E0E8EF;
}

.main
{
 padding-top:25px;
 padding-left:50px;	
}

h4
{
 margin-top: 5px;	
}

